SimpleBatch/SimpleBatch.Shared/Configuration/Schema/SimpleBatch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (http://www.altova.com) by Adrian (Commerce Online) -->
<!--W3C Schema generated by XMLSpy v2012 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DataFile">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:attribute name="FileName" type="xs:string" use="required"/>
					<xs:attribute name="Format" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="CommaSeperated"/>
								<xs:enumeration value="Xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="WithHeaders" type="xs:boolean" use="optional"/>
					<xs:attribute name="FieldDelimiter" type="xs:string" use="optional"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceDefinition">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="TextFile"/>
				<xs:element ref="SQLQuery"/>
				<xs:element ref="InMemoryDataTable"/>
				<xs:element ref="CustomProcessor"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SMTPServer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQLQuery">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:choice>
						<xs:element name="SQL" type="xs:string"/>
						<xs:element name="SQLFile">
							<xs:complexType>
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
					<xs:attribute name="DataSource" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SMTPServer">
		<xs:complexType>
			<xs:attribute name="Address" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Port" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomProcessor">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:sequence>
						<xs:element ref="Configuration" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Assembly" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Jobs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JobDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JobDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element ref="Commands"/>
			</xs:sequence>
			<xs:attribute name="Name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TextFile">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:attribute name="FileName" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailNotification">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:attribute name="To" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Subject" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="From" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentLibrary">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:attribute name="Site" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Filename" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="FileDescription" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="LibraryName" type="xs:string" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DestinationDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="InMemoryDataTable"/>
					<xs:element ref="DocumentLibrary"/>
					<xs:element ref="EmailNotification"/>
					<xs:element ref="DataFile"/>
					<xs:element ref="CustomProcessor"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InMemoryDataTable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Processor">
					<xs:attribute name="TableName" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Configuration" type="xs:anyType"/>
	<xs:element name="Commands">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CommandDefinition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SourceDefinition"/>
				<xs:element ref="DestinationDefinition"/>
			</xs:sequence>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Data"/>
						<xs:enumeration value="File"/>
						<xs:enumeration value="Text"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Description" type="xs:string" default="No description provided"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BatchCycle">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Settings"/>
				<xs:element ref="Jobs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Processor">
		<xs:attribute name="Description" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
